.flex-container{
	width:90%;
	max-width:1000px;
	min-width:320px;
    margin:20px auto;		
	display: flex;  	
	flex-flow: row wrap; 
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;	
}

.item{
	color:#fff;
	text-align:center;
	margin:0 auto;
}

header{
	height:140px;
	overflow:hidden;
	text-align:center;
	
	flex: 1 100%;
}
header h1{
	line-height:100px;
	margin:0;
	font-size:35px;
	float:left;
	width:40%;
	padding-left:20px;
	box-sizing:border-box;
}
header nav{
	float:left;
	width:60%;
	line-height:100px;
	padding-right:20px;
	box-sizing:border-box;
}
header ul{
	list-style-type:none;	 		
	margin:0;
	padding:0;	
	
	display:flex;
	flex-flow: row wrap;
	justify-content: flex-end;  
}
header ul li{
	margin:0 5px;	
	font-size:20px;	
	cursor:pointer;
	color:#D5C5C5;
}
header ul li:hover{
	color:#fff;
}


aside{
	background-color:rgb(0, 101, 252);
	height:100%;
	flex: 1 auto;
	
}

/* Menu */
aside li{
    list-style-type:none;
    position:relative;
    width:120px;
}
aside li a{
    text-decoration:none;
    display:inline-block;
    padding:5px 10px;
    width:150px;
    height:30px;
    border:1px solid #000;
    color:#fff;
    background-color:rgb(0, 101, 252);
    }
aside li a:hover{
    color:#000;
    background-color:#fff;
                
    }
/* Fin del menu */

#cuerpo{	
    background-color: blanchedalmond;
	color: black;
	height:500px;
    flex: 4 auto;
    width: 500px;
    text-align: justify;
    padding: 0.7rem;
}

footer{
	height:100px;
	background-color: rgb(247, 24, 255);
	flex: 1 100%;
}

@media screen and (max-width: 600px) {
	
	header nav{
		line-height:31px;
	}
	header ul{	
	 	flex-flow: column wrap;	
	 	justify-content: center;  	
	}
	header ul li{
		margin-bottom:2px;
	}
	
	
	header{
		order:0;
	}
	
	#cuerpo{
		flex: 1 100%;
		order:2;		
	}
	
	aside{
		flex: 1 100%;
		order:1;		
	}
	
	footer{
		order:3;
	}

}


/* Imagen */
.imagen {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
/* Sobre imagen */
  .contenedor-titulo {
    transition: .5s ease;
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  header:hover .imagen {
    opacity: 0.3;
  }
  
  header:hover .contenedor-titulo {
    opacity: 1;
  }
  
  .titulo {
    background-color: rgb(45, 45, 224);
    color: white;
    font-size: 24px;
    padding: 10px 10px;
    border: cornsilk solid 1px;
  }

  .estilos-pie{
	  padding: 1rem;
  }